.blog-card {
  max-width: 500px;
}

.blog-header-image {
  background-image: url("https://cdn-images-1.medium.com/fit/c/32/32/2*YL1PHLfB1R748ZHa_HtUNQ.jpeg");
  background-size: cover;
}
.image-clap {
  width: 35px;
  cursor: pointer;
}
.button-add-clap {
  border: none;
}
