<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="blog-toobar-fixed">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button [routerLink]="['/']">
          <mat-icon aria-label="Side nav toggle icon" >Home</mat-icon>
        </button>
        <div class="full_right"></div>
        <div class="m-r-5 account-name" mat-icon-button [matMenuTriggerFor]="toolbarMenu">Phatcharaphan Ananpreechakun</div>
          <div class="m-t-50">
            <mat-menu #toolbarMenu="matMenu" yPosition="below">
              <button mat-menu-item [routerLink]="['/profile']">Profile</button>
              <button mat-menu-item>Sign out</button>
            </mat-menu>
          </div>
      </mat-toolbar>
      <div class="subjects-state-content" align="center">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>